<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmartMirror" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SmartMirrorService/SmartMirrorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartMirror"
                contract="localService.ISmartMirror" name="BasicHttpBinding_ISmartMirror" />
        </client>
    </system.serviceModel>
</configuration>